.cat-img{
    width: 100px;
    height: 100px;
    border-style: groove;
    border-color: aquamarine;
    border-width: 2px;
}

.cat1-img{
    width: 100px;
    height: 100px;
    border-style: groove;
    border-color: gold;
    border-width: 2px;
}