#content{
     background-color: rebeccapurple;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100vw;
}

#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;     
    background-color: pink;
    border: 1px blue solid;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: start;
    box-shadow: 5px 5px 5px;
    height: 300px;
}